header {
    background-image: url('../img/version-6.jpg');
    position: relative;
}
header svg {
    position: absolute;
    fill: white !important;
    bottom: 0;
}
header .header-content h1 {
    color: #fff;
}
header .header-content p {
    color: #fff;
}
header .header-content p a {
    color: #fff;
    border-color: #fff;
}
header .header-content a.btn {
    border: 1px solid #ffffff;
}
header .header-content .btn span {
    color: #fff;
}
header .navbar-default .navbar-nav li a {
    color: #fefefe;
}
header .nav-sticy .navbar-nav li a {
    color: #333;
}