header {
    background-image: url('../img/version-3.jpg');
}
header .header-content h1 {
    color: #fff;
}
header .header-content p {
    color: #fff;
}
header .header-content p a {
    color: #fff;
    border-color: #fff;
}
header .header-content a.btn {
    border: 1px solid #ffffff;
}
header .header-content .btn span {
    color: #fff;
}
header .navbar-default .navbar-nav li a {
    color: #fefefe;
}
header .nav-sticy .navbar-nav li a {
    color: #333;
}
.jquery-ripples {
    position: relative;
    z-index: auto;
}